* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 50px;
    width: 70%;
    border: none;
    background: rgb(252,157,154);
}

form button {
    width: 9%;
    background: rgb(254,67,101);
    border: none;
    padding: 10px;
    font: 15px Helvetica, Arial;
    font-weight:bold;
    color: rgb(255,255,255);
}


.chatmessage:nth-child(odd) {
    background: rgb(255,250,250);
}

.chatmessage{
    color: rgb(139,137,137)
}

.USERNAME{
    position:absolute;
    left:0px;
    font: 15px Helvetica, Arial;
    font-weight:bold;
}
.LOGINUSERNAME{
    text-align:center; 
    margin-left: auto;
    margin-right: auto;
    font: 15px Helvetica, Arial;
    font-weight:bold;
}

.TIME{
    position:absolute;
    right:0px;
    font: 15px Helvetica, Arial;
}

.CONTENT{
    font: 13px Helvetica, Arial;
}

h2{
    background: rgb(254,67,101);
    color:rgb(255,255,255) ;
}
.userinf{
    background: rgb(252,157,154);
    font: 15px "PingFang", Arial;
    font-weight:bold;
    color: rgb(255,255,255);
}